<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119280574345-nbrun4vf16bgutotsblmvj9jtb3mhj4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119280574345-nbrun4vf16bgutotsblmvj9jtb3mhj4o</string>
	<key>API_KEY</key>
	<string>AIzaSyBGSf8PRsBs73noyF_GWmbeu_BziCZ8iD8</string>
	<key>GCM_SENDER_ID</key>
	<string>119280574345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mertcncifter.WhatsappClone</string>
	<key>PROJECT_ID</key>
	<string>chatappswift-43955</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappswift-43955.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119280574345:ios:6c0e72a7aeaa541b340b58</string>
</dict>
</plist>